<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layouts/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Fragmento que se utiliza en la página para regresar -->
        <section th:fragment="nuevoUsuario">
            <div  class="container my-5">
                <div class="row" id="group_tit_login">
                    <div class="col-md-3">
                    </div>
        
                    <div class="col-md-6" id="tit_login">
                        ¡INICIA SESIÓN CON KADA!
                    </div>
        
                    <div class="col-md-3">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <img id="img_login" src="/img/Pásanos_tu_super_diseño__1_-removebg-preview (3).png" alt=""/>
                        <button class="btn">
                            <a th:href="@{/login}" class="btn" id="btn_register"> ¿TIENES CUENTA? ¡INICIA SESION!</a>
                        </button>
                    </div>
    
                    <div class="col-md-6">
                        <form method="POST" th:action="@{/registro/crearUsuario}" th:object="${usuario}" class="was-validated">
                            <div class="">
                                <div class="mb-3">
                                    <label class="log_text" for="username">[[#{usuario.username}]]</label>
                                    <input type="text" class="form-control" name="username" th:field="*{username}" required="true"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="nombre">[[#{usuario.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required="true"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="apellidos">[[#{usuario.apellidos}]]</label>
                                    <input type="text" class="form-control" name="apellidos" th:field="*{apellidos}"
                                        required="true"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="email">[[#{usuario.correo}]]</label>
                                    <input type="email" class="form-control" 
                                        name="correo" th:field="*{correo}"
                                        required="true"/></div></div>                                          
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="fas fa-envelope"></i> [[#{usuario.activacion}]]
                                </button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento que se utiliza activar un usuario -->
        <section th:fragment="activarUsuario">
            <div  class="container my-5">
                <div class="row" id="group_tit_login">
                    <div class="col-md-3">
                    </div>
        
                    <div class="col-md-6" id="tit_login">
                        ¡INICIA SESIÓN CON KADA!
                    </div>
        
                    <div class="col-md-3">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <img id="img_login" src="/img/Pásanos_tu_super_diseño__1_-removebg-preview (3).png" alt=""/>
                        <button class="btn">
                            <a th:href="@{/registro/nuevo}" class="btn" id="btn_register"> ¿NO TIENES CUENTA? ¡CREA UNA!</a>
                        </button>
                    </div>
    
                    <div class="col-md-6">
                        <form method="POST" th:action="@{/registro/activar}" th:object="${usuario}" class="was-validated" enctype="multipart/form-data">
                            <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                            <div class="">
                                <div class="mb-3">
                                    <label class="log_text" for="username">[[#{usuario.username}]]</label>
                                    <input type="text" class="form-control" name="username" th:field="*{username}" required="true"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="nombre">[[#{usuario.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required="true"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="apellidos">[[#{usuario.apellidos}]]</label>
                                    <input type="text" class="form-control" name="apellidos" th:field="*{apellidos}" required="true"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="email">[[#{usuario.correo}]]</label>
                                    <input type="email" class="form-control" name="correo" th:field="*{correo}" required="true"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="telefono">[[#{usuario.telefono}]]</label>
                                    <input type="tel" class="form-control" name="telefono" th:field="*{telefono}"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="password">[[#{usuario.password}]]</label>
                                    <input type="password" class="form-control" name="password" th:field="*{password}"/></div>
                                <div class="mb-3">
                                    <label class="log_text" for="imagen">[[#{usuario.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);" />
                                    <img id="blah" th:src="@{${usuario.rutaImagen}}" alt="your image" height="200"/>
                                </div>                                                
                            
                                <button type="submit" class="btn btn-outline-success">
                                    <i class="fas fa-check"></i> [[#{usuario.activacion}]]
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>