<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="nuevoPedido">
            <div id="nuevoPedido">
                <div class="row">
                        <div id="tit_pedido">
                            Realiza su compra
                        </div>
                    
                        <form th:action="@{/pedido/guardar}" th:object="${pedido}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idTipo">Seleccione el tipo quie gusta:</label>
                                    <select id="tipo.idTipo" class="form-select" aria-label="defaul select example">
                                        <option th:each="t : ${tipos}" th:value="${t.idTipo}"
                                                th:text="${t.descripcion}">
                                        </option>
                                            
                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label for="mombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="telefono">Telefono</label>
                                    <input type="text" class="form-control" name="telefono" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="correo">Correo Electronico</label>
                                    <input type="text" class="form-control" name="correo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">Detalle como desea su producto</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">Coloque un diseño como le gustaria</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                                <button id="btn_pedido" class="btn btn-primary" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad producto -->
        <section th:fragment="listadoPedidos" id="pedidos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 card">
                            <div class="card-header">
                                <h4>Lista de pedidos</h4>
                            </div>
                            <div th:if="${pedidos != null and !pedidos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>
                                            <th>Imagen</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table" th:each="pedido, contador : ${pedidos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${pedido.nombre}]]</td>
                                            <td>[[${pedido.descripcion}]]</td>
                                            <td><img id="blah" th:src="@{${pedido.rutaImagen}}" alt="your image" height="200"/></td>
                                            <td><a th:href="@{/pedido/eliminar/}+${pedido.idPedido}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/pedido/modificar/}+${pedido.idPedido}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${pedidos == null or pedidos.empty}">
                                <span>No se encontraron resultados</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
