<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="nuevoPedido">
            <div id="nuevoPedido">
                <div class="row">
                        <div id="tit_pedido">
                            Realiza su compra
                        </div>
                    
                        <form th:action="@{/pedido/guardar}" th:object="${pedido}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="pedido">Seleccione el tipo quie gusta:</label>
                                    <select name="tipo.idTipo" class="form-select" aria-label="defaul select example">
                                        <option th:each="tipo : ${tipos}" th:value="${tipo.idTipo}"
                                                th:text="${tipo.descripcion}">
                                        </option>
                                            
                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="telefono">Telefono</label>
                                    <input type="text" class="form-control" name="telefono" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="correo">Correo Electronico</label>
                                    <input type="text" class="form-control" name="correo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">Detalle como desea su producto</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">Coloque un diseño como le gustaria</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>

                                <div class="mb-3">
                                    <label for="activo">Activo</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>

                            </div>
                                <button id="btn_pedido" class="btn btn-primary" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad producto -->
        <section th:fragment="listadoPedidos" id="pedidos">
            <div class="container">
                <div class="row row-cols-1">
                    <h2 id="tit_prod" class="inline text-center">Lista de pedidos</h2>
                </div>

                <div class="row row-cols-12" th:if="${pedidos != null and !pedidos.empty}">
                    <div class="col_prod" th:each="pedido : ${pedidos}">
                        <div class="card text-bg-dark">
                            <div class="card-body row">   
                                <div class="col-md-9">
                                    <h4 class="card-title">[[${pedido.nombre}]] </h4>
                                    <h5 id="text_ped" class="card-text">[[${pedido.descripcion}]]</h5>
                                    <a th:href="@{/pedido/modificar/}+${pedido.idPedido}" class="btn btn-success"><i class="bi bi-eye-fill"></i>    MAS INFO</a>
                                </div>
    
                                <div class="col-md-3">
                                    <img id="blah" th:src="@{${pedido.rutaImagen}}" alt="your image" height="200"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center p-2" th:if="${pedidos == null or pedidos.empty}">
                    <span>No se encontraron resultados</span>
                </div>
            </div>
        </section>

        <!-- 3 Sección editar para mostrar la informaccion de la entidad producto -->
        <section th:fragment="editarPedidos">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <a id="btn_regresar" th:href="@{/pedido/listado}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                    <form method="POST"
                          th:object="${pedido}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idPedido" th:field="*{idPedido}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-4">
                                            <label class="log_text" for="pedido">Tipo de articulo</label>
                                            <select class="form-select" aria-label="Default select example"                                                                            
                                                    name="tipo.idTipo" 
                                                    th:field="*{tipo.idTipo}" disabled readonly >
                                                    <option th:each="tipo : ${tipos}"
                                                        th:value="${tipo.idTipo}" th:text="${tipo.descripcion}">
                                                    </option>   
                                            </select>                             
                                        </div>

                                        <div class="mb-4">
                                            <label class="log_text" for="descripcion">Detalle como desea su producto</label>
                                            <textarea id="ped_detalle" type="are" class="form-control" name="descripcion" required="true" th:field="*{descripcion}" disabled readonly/>
                                        </div>
                                        
                                        <div class="mb-4">
                                            <label class="log_text" for="nombre">Nombre</label>
                                            <input type="text" class="form-control" name="nombre" required="true" th:field="*{nombre}" disabled readonly/>
                                        </div>
                                        <div class="mb-4">
                                            <label class="log_text" for="telefono">Telefono</label>
                                            <input type="text" class="form-control" name="telefono" required="true" th:field="*{telefono}" disabled readonly/>
                                        </div>
                                        <div class="mb-4">
                                            <label class="log_text" for="correo">Correo Electronico</label>
                                            <input type="text" class="form-control" name="correo" required="true" th:field="*{correoElec}" disabled readonly/>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div id="tit_imagen">Imagen del diseño</div>
                                        <img id="" th:src="@{${pedido.rutaImagen}}" alt="your image" height="350"/>
                                        <a id="btn_img" th:href="@{${pedido.rutaImagen}}" class="btn btn-primary"><i class="bi bi-eye-fill"></i>  VER EN TAMAÑO GRANDE</a>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
