<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaft.org"
       xmlns:sec="http://www.thymeleaft.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layouts/plantilla :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layouts/plantilla :: header}">
            
        </header>
        <div class="row">
            <div class="col-md-2"></div>

            <div id="tit_nosotros" class="col-md-8">
                CONOCE SOBRE IDEAS KADA
            </div>

            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div id="img_nosotros" class="col-md-8">
                <img src="/img/Pásanos_tu_super_diseño__2_-removebg-preview (1).png" alt=""/>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>

            <div id="nues_historia" class="col-md-10">
                Ideas Kada fue creada antes de la pandemia por Carolina Castillo Monge, un individuo visionario que enfrentaba desafíos económicos en ese momento. Su determinación por superar las adversidades la llevó a idear una solución creativa: la producción de cuadernos, agendas, planificadores y libretas únicos y de alta calidad. Lo que comenzó como una respuesta a una necesidad económica pronto se convirtió en una pasión por el diseño y la papelería. <br> <br>
                Ideas Kada se ha destacado en la industria por su gama diversificada de productos que van más allá de lo convencional. Desde cuadernos de diseño personalizado hasta planificadores temáticos, cada producto es cuidadosamente elaborado para satisfacer las necesidades y preferencias individuales de sus clientes. La atención meticulosa a los detalles y la calidad excepcional son los pilares de la empresa.
            </div>

            <div class="col-md-1"></div>
        </div>

        


        <footer th:replace="~{layouts/plantilla :: footer}">
            
        </footer>
    </body>
</html>