<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaft.org"
       xmlns:sec="http://www.thymeleaft.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layouts/plantilla :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layouts/plantilla :: header}">
            
        </header>
        <div class="row">
            <div class="col-md-2"></div>

            <div id="tit_nosotros" class="col-md-8">
                CONOCE SOBRE IDEAS KADA
            </div>

            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div id="img_nosotros" class="col-md-8">
                <img src="/img/Pásanos_tu_super_diseño__2_-removebg-preview (1).png" alt=""/>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>

            <div id="nues_historia" class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum nibh turpis, faucibus blandit nulla condimentum vitae. Morbi pulvinar quis sem ut efficitur. Nam at enim congue, molestie diam aliquam, sollicitudin est. Cras diam lectus, lacinia id luctus pharetra, consequat vel leo. Mauris vel dapibus augue, eget varius elit. Nulla pharetra velit leo, ac commodo tortor blandit vitae. Maecenas posuere metus eu suscipit venenatis. Pellentesque scelerisque porta dui eget semper. Proin id sem quis sapien placerat pulvinar. Curabitur quis arcu tempor, accumsan justo vel, malesuada est. Suspendisse potenti.
            </div>

            <div class="col-md-1"></div>
        </div>

        


        <footer th:replace="~{layouts/plantilla :: footer}">
            
        </footer>
    </body>
</html>