<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaft.org"
     >
    <head th:replace="~{layouts/plantilla :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layouts/plantilla :: header}">
            
        </header>
        
        <div class="row">
            <div class="col-md-12" id="tit_contacto">
                ¡HABLA CON NOSOTROS!
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-3">
                <div class="row elem_contacto">
                    <div class="col-sm-12">
                        <i class="bi bi-facebook"></i>@IDEASKADACR
                    </div>
                </div>

                <div class="row elem_contacto">
                    <div class="col-sm-12">
                        <i class="bi bi-envelope"></i>ideaskada@contacto.com
                    </div>
                </div>

                <div class="row elem_contacto">
                    <div class="col-sm-12">
                        <i class="bi bi-whatsapp"></i>+506 8888 8888
                    </div>
                </div>
            </div>

            <div class="col-md-1">

            </div>

            <div class="col-md-4">
                <img src="/img/Pásanos_tu_super_diseño__3_-removebg-preview.png" alt=""/>
            </div>

            <div class="col-md-2">

            </div>

        </div>


        <footer th:replace="~{layouts/plantilla :: footer}">
            
        </footer>
    </body>
</html>