<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-secondary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarProducto">
                            <i class="fas fa-plus"></i> Agregar Producto
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button 
                            type="button" 
                            class="btn btn-secondary btn-block">
                            <a id="button_cate" th:href="@{/categoria/listado}"><i class="bi bi-eye-fill"></i> Ver Categorias</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="agregarProducto">
            <div id="agregarProducto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/producto/guardar}" th:object="${producto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idCategoria">[[#{producto.categoria}]]</label>
                                    <select class="form-select" aria-label="Default select example"                                                                            
                                            name="categoria.idCategoria">
                                        <option th:each="categoria : ${categorias}"
                                                th:value="${categoria.idCategoria}">[[${categoria.descripcion}]]</option>   
                                    </select>  

                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{producto.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div> 
                                <div class="mb-3">
                                    <label for="activo">[[#{producto.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{producto.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad producto -->
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 card">
                            <div class="card-header">
                                <h4>Lista de productos</h4>
                            </div>
                            <div th:if="${productos != null and !productos.empty}">
                                <table class="table table-primary table-striped table-hover">
                                    <thead class="table-primary">
                                        <tr><th>#</th>
                                            <th>Descripcion</th>
                                            <th>Activo</th>
                                            <th>Categoria</th>
                                            <th>Imagen</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table" th:each="producto, contador : ${productos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${producto.descripcion}]]</td>
                                            <td th:text="${producto.activo} ? 'Activa' : 'Inactiva'" />
                                            <td>[[${producto.categoria.descripcion}]]</td>
                                            <td><img id="blah" th:src="@{${producto.rutaImagen}}" alt="your image" height="200"/></td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/producto/eliminar/}+${producto.idProducto}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/producto/modificar/}+${producto.idProducto}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span>No se encontraron resultados</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarProducto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/producto/guardar}" 
                          th:object="${producto}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{producto/fragmento :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">   
                                                    <select class="form-select" aria-label="Default select example"                                                                            
                                                            name="idCategoria"
                                                            th:field="*{categoria.idCategoria}">
                                                        <option th:each="categoria : ${categorias}"
                                                                th:value="${categoria.idCategoria}">[[${categoria.descripcion}]]</option>   
                                                    </select>                             
                                                </div>
                                                
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{producto.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{producto.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{producto.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${producto.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/producto/eliminar/}+${producto.idProducto}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
        
        <!-- 6 Fragmento que se utilizara en vista -->
        <section th:fragment="vistaProductos" id="productos">
            <div class="container">
                <div class="row row-cols-1">
                    <h2 id="tit_prod" class="inline text-center">MUESTRAS DE NUESTROS PRODUCTOS</h2>
                </div>


                <div class="row row-cols-3" th:if="${productos != null and !productos.empty}">
                    <div class="col_prod" th:each="producto : ${productos}">
                        <div class="col-md-1">

                        </div>


                        <div class="card text-bg-dark">
                            <img class="card-img" th:src="@{${producto.rutaImagen}}" alt="alt" height="300px"/>
                            <div class="card-img-overlay">
                              <h5 class="card-title">[[${producto.descripcion}]]</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section th:fragment="categoriasTabs" id="categorias">
            <div class="row py-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" 
                           aria-current="page" 
                           href="/producto/vista"
                           >[[#{pruebas.todas}]]</a>
                    </li>
                    <li th:each="categoria : ${categorias}" class="nav-item">
                        <a class="nav-link" 
                           th:href="@{/producto/vista/}+${categoria.idCategoria}"
                           >[[${categoria.descripcion}]]</a>
                    </li>                    
                </ul>
            </div>
        </section>
        
        
    </body>
</html>
