@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0%;
}

body {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.clearfix{
    clear: both;
}

/*******************HEADER************************/
#header{
    background-color: #C560DB;
    padding-top: 18px;
    padding-bottom: 18px;
}

#identificador{
    display: flex;

}

#identificador #name{
    /* font-family: ; */
    padding-top: 24px;
    padding-left: 15px;
    font-size: 26px;
}

#identificador #logo img{
    height: 85px;
    width: 85px;
}

#iconos{
    display: flex;
    font-size: 50px;
    margin-top: 12px;
}

#iconos a{
    margin-left: 25px;
}
/*******************NAVEGADOR************************/
#principal_menu{
    height: 50px;
    margin-top: 20px;
}

/*Apariencia*/
.links {
    font-size: 25px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

.links > a {
    color: black;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

.links > a:hover {
    color: #b33e95;
}

/*******************FOOTER************************/
#tex_foot{
    text-align: center;
    color: black;
    background-color: #C560DB;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}


/*******************INDEX************************/

#border_index{
    width: 1780px;
    background-color: #614570;
    height: 3px;
    margin: 30px;
}

#space_banner{
    height: 200px;
    margin-bottom: 25px;
}

#space_banner img{
    height: 230px;
}

.post_text{
    padding-top: 50px;
}

.post_it img{
    height: 250px;
    width: 250px;
}

.text_ind{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

/*******************PRODUCTOS************************/


/*******************PEDIDOS************************/
#tit_pedido{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 500px;
}

#btn_pedido{
    margin-left: 580px;
    margin-bottom: 20px;
    font-size: 20px;
}

/*******************NOSOTROS************************/
#tit_nosotros{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 40px;
}

#img_nosotros{
    margin-bottom: 50px;
}

#nues_historia{
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
}

/*******************CONTACTO************************/
#tit_contacto{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 40px;
}

.elem_contacto{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    bottom: -30px;
}

.elem_contacto i{
    margin-right: 30px;
    font-size: 120px;
}