<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaft.org"
     >
    <head th:replace="~{layouts/plantilla :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layouts/plantilla :: header}">
            
        </header>

        <div class="row" id="border_index">
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8" id="space_banner">
                <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/img/Banner1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/Banner2.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/Banner3.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-4 post_it" >

            </div>

            <div class="col-md-3 text_ind">
                ENVIANOS TU DISEÑO Y NOSOTROS TE HAREMOS REALIDAD ESE CUADERNO SOÑADO
            </div>

            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-4 post_it" >

            </div>

            <div class="col-md-3 text_ind">
                PON A PRUEBA TU CREATIVIDAD Y SACA TU DISEÑO MÁS CHIVA
            </div>

            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-4 post_it" >
                
            </div>

            <div class="col-md-3 text_ind">
                ENVIANOS TU DISEÑO Y NOSOTROS TE HAREMOS REALIDAD ESE CUADERNO SOÑADO
            </div>

            <div class="col-md-3"></div>
        </div>

        <header th:replace="~{layouts/plantilla :: footer}">
        </header>
    </body>
</html>