<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="http://www.thymeleaft.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layouts/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layouts/plantilla :: header}"/>

        <div class="container my-5">
            <div class="row" id="group_tit_login">
                <div class="col-md-3">
                </div>
    
                <div class="col-md-6" id="tit_login">
                    ¡INICIA SESIÓN CON KADA!
                </div>
    
                <div class="col-md-3">
                </div>
    
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <img id="img_login" src="/img/Pásanos_tu_super_diseño__1_-removebg-preview (3).png" alt=""/>
                    <button class="btn">
                        <a th:href="@{/registro/nuevo}" class="btn" id="btn_register"> ¿NO TIENES CUENTA? ¡CREA UNA!</a>
                    </button>
                </div>

                <div class="col-md-6">
                    <form method="POST" th:action="@{/login}">
                        <div class="group_log">
                            <label class="col-md-5 my-auto log_text" for="username"><i class="fas fa-user-lock"></i>[[#{login.username}]]:</label>
                            <input class="form-control" type="text" name="username" id="username"/>
                        </div>

                        <div class="group_log">
                            <label class="col-md-5 my-auto log_text" for="password"><i class="fas fa-key"></i>[[#{login.password}]]</label>
                            <input class="form-control" type="password" name="password" id="password"/>
                        </div>
                        
                        <button class="btn btn-outline-info" type="submit">
                            <span class="btn"><i class="fas fa-sign-in-alt"></i>[[#{login.login}]]</span>
                        </button>
                    </form>
                </div>
            </div>

        </div>
        <footer th:replace="~{layouts/plantilla :: footer}"/>
    </body>
</html>